@inherits ServiceStack.Mvc.ViewPage
@{
    ViewData["Title"] = "Quản lý mẫu tin nhắn";
}
<div class="mt-8 mb-20 mx-auto max-w-fit">
    <h1 class="@Html.ClassNames(Css.H1, "my-8")">@ViewData["Title"]</h1>
    <div id="messageTemplates" data-component="pages/Home/MessageTemplates.mjs"></div>
</div>