@inherits ServiceStack.Mvc.ViewPage
@{
    ViewData["Title"] = "Quản lý nhà cung cấp";
}

<div class="mb-20 mx-auto max-w-fit" style="margin-top: 120px; padding: 0 40px">

    <h1 class="@Html.ClassNames(Css.H1, "my-8")">@ViewData["Title"]</h1>

    <div id="providers" data-component="pages/Home/Providers.mjs" style="overflow-y: auto"></div>
</div>